:root {
    --background-colour: rgb(22, 1, 71) !important;
    --font-colour: white;
}

html, body, .main-content {
    height: 100%;
    background: var(--background-colour);
}

h2 {
    color: var(--font-colour);
}

header {
    background-color: var(--background-colour);
    padding: 10px;
    color: var(--font-colour);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.field-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(88, 88, 141);
    padding: 10px;
}

.input {
    margin-right: 10px;
    color: var(--font-colour);
}

.random-button {
    margin-right: 10px;
    color: var(--font-colour);
}

.back-button {
    margin-right: 10px;
    color: var(--font-colour);
}

.dropdown {
    margin-right: 10px;
    color: var(--font-colour);
}

.full-height {
    height: 100%;
}

.card {
    transition: transform .2s ease-in-out;
    background-color: var(--background-colour);
    color: var(--font-colour);
}

.card:hover {
    transform: scale(1.05);
}

.history-card {
    cursor: pointer;
    margin-top: 10px;
    color: var(--font-colour);
}

.card-content .media .media-content p.title.is-4 {
    color: var(--font-colour);
}

.carousel {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: inset;
    background-color: rgb(88, 88, 141);
}
