:root {
    --background-colour:  rgb(41, 24, 80) !important;
}

html, body, .main-content {
    height: 100%;
    background:var(--background-colour)
}

header {
    background-color: var(--background-colour);
    padding: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.field-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(88, 88, 141);
    padding: 10px;
}

.input {
    margin-right: 10px;
}

.random-button {
    margin-right: 10px;
}

.back-button {
    margin-right: 10px;
}

.dropdown {
    margin-right: 10px;
}

.full-height {
    height: 100%;
}

.card {
    transition: transform .2s ease-in-out;
    background-color:purple;
    color: white;
}

.card:hover {
    transform: scale(1.05);
}

.Number2 {
    color: purple;
    font-weight: bolder;
    font-size: 100px;
}
/* ... other styles ... */  

.title {
    color: white;
}

.history-card {
    cursor: pointer;
    margin-top: 10px;
}

.carousel {
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    box-shadow: inset;
    background-color:var(--background-colour);
    padding: 5%;
}

.column {
    padding: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .column {
      padding: 0;
    }
  }